AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-south-1
S3_BUCKET_NAME=niva-bupa-event
REKOGNITION_COLLECTION_ID=niva-bupa-faces
OPENAI_API_KEY=
GEMINI_API_KEY=
PORT=3001
ADMIN_PASSWORD=admin123
